<div class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-text navbar-left report">A LANDSCAPE CONSERVATION INITIATIVE REPORT</p>
    </div>
    <div class="lci-brand navbar-right">
      <a href="http://nau.edu/lci/">
        <img alt="Brand" src="logo.png">
      </a>
    </div><!--/.nav-header -->
  </div><!--/.container-fluid -->
</div><!--/.navbar -->

<style>
.lci-brand img {
    height:45px;
  position: relative;
  top: 50%;
  transform: translateY(25%);
margin-right:25px;
}
.report {
    color:#D6D6D6;
    font-size: 20px;
}
.navbar {
    background:#232020;
}
</style>